
.title{
    font-family: "q_serif", Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #333333
}
.content .forms-input{
	/*proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
	font-family: "q_serif", Georgia, Times, "Times New Roman", "Hiragino Kaku Gothic Pro", Meiryo, serif;
	font-size: 15px;
	color: #333333;
}
.forms{
	font-family: "helvetica neuve", helvetica, sans-serif;
	font-size:14px;	
	font-weight: 500;
}

