<div class="section">
	<div class="container">
		<div class="columns">
			<div class="column">
				<h1 class="title">
					<i>" Si nous enseignons aujourd'hui comme nous faisions hier, nous volons le futur de nos enfants." - John Dewey
					</i>
				</h1>
				<p>
					La technologie donne le pouvoir aux élèves pour mieux apprendre et comprendre!
				</p>
				<p>
					L'enseignant a plus de temps de rentrer en profondeur des léçons.
				</p>
			</div>
		</div>
	</div>
</div>
